.idea/
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

rooms/.gradle/
rooms/.idea/
rooms/build/
rooms/out/
rooms/*.iml

rooms-react/.gradle/
rooms-react/.idea/
rooms-react/build/
rooms-react/build_packageRoomsReact/
rooms-react/node_modules/
rooms-react/out/
rooms-react/*.iml
